{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": ["plugin:@typescript-eslint/recommended", "prettier"],
  "rules": {
    "no-unused-vars": "off",
    "@typescript-eslint/indent": "off"
  }
}
